.build/
.swiftpm/
*.xcodeproj
xcuserdata/
DerivedData/
.DS_Store
Package.resolved.bak
/qrcode.png
/*.mp4
/*.m4a
/*.xml
/*.ass
/*.srt
/debug_*.json


# downloader temp files and output, in case a download is run inside the repo
*.vclip
*.aclip
*.tmp
/[0-9]*/
/*.jpg
/*.png
/*.m4s
